body {
    margin: 0;
    font-family: 'Switzer', sans-serif;

}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

header{
    border-bottom: solid 3px black;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

footer{
    border-top: solid 3px black;
    background-color: rgb(255, 255, 255);
}


.container_footer{
    display: flex;
    max-width: 996px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
}

a{
    color: black;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}


.titoloheader a{
    font-size: 22px;
    font-weight: 900;
    line-height: 90%;
}

h1{
    font-size: 22px;
    font-weight: 700;
}

.titoloheader{
    width: 100px;
}

.hero{
    border-bottom: solid 3px;
    background-color: rgb(255, 255, 255);
}

.contenutohero{
    display: flex;
    max-width: 996px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
    padding-left: 32px;
    padding-right: 32px;
}

.hero .contenutohero .fotohero{
    display: flex;
    max-width: 300px;
    height: 100%;
    object-fit: contain;
    align-items: center;
    justify-content: center;
}

.fotohero img{
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
}


.fotoartista img{
    border-radius: 15px;
    border: solid 3px black;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.testohero{
    display: grid;
    gap: 24px;
    
}

h2{
    font-size: 62px;
    line-height: 100%;
    font-weight: 900;
    max-width: 650px;
}

.testohero p{
    font-size: 16px ;
}

.container_pagina{
    display: grid;
    margin: auto;
    max-width: 996px;
    padding-top: 150px;
    padding-bottom: 200px;
    gap: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.container_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
    
}

.container_opere{
    column-count: 3;
    column-gap: 12px;
}

.container_opere img{
    margin-bottom: 12px;
}

.titoli{
    background-color: white;
    border-bottom: solid 3px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    z-index: 3;
}

.card{

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 300px;
    border-radius: 15px;
    border: solid 3px black;
    justify-content: center;
}

.card:hover{
    background-color: black;
    color: white;
}

.card img{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 85%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    border-bottom: solid 3px black;
    z-index: 2;
}

.card a:hover{
    color: white;
}

h3{
    display: flex;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    width: 80%;
    height: 15%;
    align-items: center;
}


.testo{
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-column: 2;
}

p{
    font-size: 18px;
    line-height: 150%;
    grid-column: 2;
}

svg{
    max-height: 300px;
    max-width: 300px;
    align-self: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-trigger{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 3px black;
    border-radius: 15px;
    filter: brightness(100%);
    transition: 0.3s;
}

.modal-trigger:hover{
    filter: brightness(50%);
}


.modal:target {
    display: block;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }

.modal img {
    max-width: 90%;
    max-height: 90%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.close:hover {
    color: #7c7c7c;
}

@media(max-width:800px){
    .container_card{
        grid-template-columns: 1fr 1fr;
    }

    h2{
        font-size: 6vw;
    }
}


@media (max-width:550px) {

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }

    .titoloheader{
        display: flex;
        align-self: start;
        margin-top: 12px;
        margin-bottom: 12px;
        height: 30px;
        width: 10px;
    }

    .titoloheader a{
        display: flex;
        align-self: center;
    }


    .hero .contenutohero .fotohero{
        height: 100%;
    }

    .contenutohero{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 12px;
        margin-right: 12px;
        gap: 24px;
        padding-top: 48px ;
        padding-bottom: 48px;
    }

    .contenutohero img{
        width: 70%;
        height: 70%;
        object-fit: contain;
    }

    .fotoartista{
        display: flex;
        justify-content: center;
    }

    .testo{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .container_opere{
        column-count: 2;
    }

    svg{
        max-height: 200px;
        max-width: 200px;
        align-self: center;
    }

    .container_card{
        grid-template-columns: 1fr;
    }

    p{
        font-size: 14px;
    }

    .container_pagina{
        margin-left: 24px;
        margin-right: 24px;
    }

    .container_footer{
        margin-left: 24px;
        margin-right: 24px;
    }

    .contenutohero .testohero h2{
        line-height: 110%;
        font-size: 4vh;
    }

    .infohero p{
        font-size: 14px;
    }

    .off-screen-menu {
        background-color:  rgb(255, 255, 255);
        max-width: 450px;
        top: 0;
        display: none;
        margin: auto;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        position:inherit;
        top: 44px;
        right: 0;
    }

    .off-screen-menu.active {
        display: grid;
        align-items: center;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 6px;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
    }

    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .container .off-screen-menu{
        grid-row: 2;
    } 

    nav {
        background-color: rgb(255, 255, 255);
        align-self: flex-end;
        margin-top: 12px;
        margin-bottom: 12px;
    }


    .ham-menu {
        height: 30px;
        width: 30px;
        position: relative;
    }

    .ham-menu:hover{
        cursor: pointer;;
    }

    .ham-menu span {
        height: 3px;
        width: 70%;
        background-color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span {
        background-color: rgb(0, 0, 0);
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}

